body {
    max-width: 100;
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 18px;
}

/* Navigation */

nav p {
    font-size: 2em;
    margin: .150em 0;
    padding: 0;
    color: rgb(0, 0, 0);
    font-family: 'Times New Roman', Times, serif;
    font-weight: 900;
}

nav {
    width: 100%;
    height: 10%;
    color: black;
    margin: 0;
    padding: 0.500em 1em;
    background-color: rgb(128, 128, 128);
    box-sizing: border-box;
}

nav li {
    padding: 0;
    margin: 0;
    list-style: none;
    display: inline;
    margin: 0 1em ;
}

nav a {
    color: rgb(255, 255, 255);
    font-weight: 700;
}

nav a:hover ,
nav a:focus {
    color: rgb(0, 0, 0);
}

/* End of navigation */

/* Reusable Classes */
.container-flex {
   display: flex;
   justify-content: space-between;
}

.container {
    width: 98%;
    margin: 1em auto;
}

/* Seperate article page */

.full-article-heading {
    font-family: 'Arial' , sans-serif;
    font-weight: 900;
    text-align: left;
    color: black;
    font-size: 4em;
    line-height: .950em;
    width: 90%;
    margin: 0 auto 0 auto;
}

.full-article {
    width: 90%;
    margin: 0 auto;
    border: none;
    font-family: Arial, Helvetica, sans-serif;
    padding: 0;
    font-size: 1.2em;
}
/* Certain widths */

.twenty-five {
    width: 22.5%;
}

.fifty {
    width: 47.5%;
}

.seventy-five {
    width: 72.5%;
}

.hundred {
    width: 100%;
}

/* Reusable Classes */


/* Break */


/* Default Behaviour */

img {
    max-width: 100%;
}

a {
    text-decoration: none;
}

article {
    font-family:'Trebuchet MS', 'sans-serif';
    text-align: justify;
    margin-bottom: 4em;
    border-bottom: 1px solid rgba(0, 0, 0, 0.37);
    padding-bottom: .900em;
}

.latest-content {
    font-family:Georgia, 'Times New Roman', Times, serif;
    color: rgba(0, 0, 0, 0.863);
    border: solid 1px saddlebrown;
    margin: 0;
}

article a {
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-weight: 900;
    text-align: left;
    color: rgb(238, 41, 41);
    font-size: 1em;
    margin-top: .700em;
    letter-spacing: .200em;
    font-weight: 900;
}

article a:hover,
article a:focus {
    color: rgb(31, 90, 255);
}

article h3 {
    color: black;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-weight: 900;
    text-align: left;
    color: black;
    font-size: 3em;
    line-height: .950em;
    margin: 0 0 .200em 0;
}

article p {
    margin-top: 0.150em;
}

article img {
    margin: 1em 0;
}

article h5 {
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    margin: 0;
    color: rgba(0, 0, 0, 0.747);
}

#category {
    margin-top: 1em;
    margin-bottom: .500em;
}

.author {
    margin-bottom: .600em;
}

#date {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    margin-bottom: 1.5em;
    color: rgb(21, 80, 70);
}
/* End of Default Behaviour */

/* Main page */

main {
    width: 73%;
    /* border: solid black 1px; */
    padding: 0.500em 0.700em;
}

/* Sidebar */

aside {
    margin-top: 0;
    width: 23%;
    /* border: solid red 1px; */
}

/* End of Main page */



/* Media queries */
